*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #E554731A ;
    display: flex;
    width: 100%;
}

.banner-description{
align-items: center;
margin-top: 197px;
    width: 50%;
  
    margin-left: 200px ;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 32px 0px;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bnr-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 20px 43px;
margin-top: 20px;
}
.banner-image{
    text-align: center;
    margin-left: 30px ;

}

.banner-flower{
    width: 635px;
    height: 800px;
    margin-bottom:-5px ;
   
}
.banner{
    padding-top: 50px;
}

/* featured section */

.feature-description{
    align-items: center;
    padding-top: 250px;
    padding border-bottom: 48px;
}
.featured-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
/* flowers section */
.flower-container{
    display: flex;
    margin: 0px 200px;
    justify-content: space-around;
}

.flower-img{

padding: 150 px;

}
.flower1{
    display: flex;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    background-color: #A7216226;
 border-radius: 300px 300px 0px 0px;
 text-align: center;
}