*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #E554731A ;
    display: flex;
    width: 100%;
}

.banner-description{
align-items: center;
margin-top: 197px;
    width: 50%;
  
    margin-left: 200px ;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
padding: 32px 0px;
}

.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.bnr-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding: 20px 43px;
margin-top: 20px;
}
.banner-image{
    text-align: center;
    margin-left: 30px ;

}

.banner-flower{
    width: 635px;
    height: 800px;
    margin-bottom:-5px ;
   
}
.banner{
    padding-top: 50px;
}

/* featured section */

.feature-description{
    align-items: center;
   
    padding: 48px;
    width: 80%;
    margin: auto;
    /* border: 2px solid black; */
    margin: 100px;
}
.featured-title{

    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
/* flowers section */
.flower-container{
    display: flex;
    margin: 158px 316px;
    justify-content: space-around;
    gap: 24px;
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
    /* border: 2px solid black; */
}


.flower1{
    display: flex;
    width: 464px;
    height: 538px;

    background-color: #A7216226;
 border-radius: 300px 300px 0px 0px;
 text-align: center;

 padding-left: 76px;
padding-top: 110px;
}
.flower2{
    display: flex;
    width: 464px;
    height: 538px;

    background-color:#0597A026;
 border-radius: 300px 300px 0px 0px;
 text-align: center;
 align-items: center;
 padding-left: 76px;
padding-top: 110px;
}
.flower3{
    display: flex;
    width: 464px;
    height: 538px;

    background-color:#477D1126;
 border-radius: 300px 300px 0px 0px;
 text-align: center;
 
 padding-left: 76px;
padding-top: 100px;
}
.flower-name{
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    font-weight: 700px;
    text-decoration: underline;

}
.delivery-section{
    padding: 80px;
    width: 80%;
    background-color: #2727270D;
    margin: auto;
    height: 320px;
}

.delivery-container{
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    text-align: center;
 align-items: center ; 
 margin-bottom: 128px;
}
.hot-deal{
    height: 620px;
    background-color:#E554730D ;
    margin-top: 128px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
/* insta section */

.instagram{
margin: auto;
width: 100%;
margin-bottom: 80px;

}

.insta-description{
    text-align: center;
    text-align: center;
    margin: 120px 0px;
    padding-top: 50px;
}
.insta-title{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;

font-weight: 800;

}

.insta-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.insta-photo{
    display: flex;
    justify-content: space-between;
    /* gap: 25px; */
    width: 90%;
    /* border: 2px solid; */
    margin: auto;
}
    
.insta-photo> img{
    width: 342px;
height: 396px;
}

input{
    border-radius: 8px;
background: #FFF;
height: 64px;
width: 720px;
border: none;
padding-left: 20px;
}

.latest-deals{  
    text-align: center;
    width: 90%;
    background-color: #5d494d;
    margin: auto;
    background-image:url( ../styles/Rectangle\ 9.png);
    padding: 150px 0px ;
    border-radius: 8px;
    margin-bottom: 130px;
    background-repeat: none;
    background-size: cover;

}
footer{
    background-color: #111010;
    height: 450px;
    text-align: center;
    align-items: center;
}
.footer-container{
   padding-top: 150px;
}

.footer-title{
    color: white;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.footer-details{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 30px;
}
/* bonus section */
.What-they-say  {
    
margin-top: 100px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #c3788837;
    text-align: center ;
    /* border: 2px black solid; */
background-image: url(../Flower-Asset/5616586.jpg);
background-size: cover;  
background-repeat: no-repeat;
background-position: center;
width: 90%;
border-radius: 15px;
}
  
  
  
  .quote {
    margin-bottom: 20px;
  }
  
  .quote p {
    font-size: 25px;
    font-style: italic;
    font-family: 'style Script', cursive;
  }
  
  .quote h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .quote p span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-style: normal;
    color: #888;
  }
  